{% extends "table_layout.html" %}

{% block page_title %}Attendances{% endblock page_title %}

{% block table_actions %}
{% include 'table_actions.html' with add_url=program_create_url %}
{% endblock table_actions %}

{% block table_content %}
<div class="table-responsive">
  <table class="table table-striped caption-top">
    <caption>{{ total_attendances }} attendance{{ total_attendances|pluralize }}</caption>
    <thead>
      <tr class="text-capitalize">
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Class</th>
        <th scope="col">student</th>
        <th scope="col">Attendance date</th>
        <th scope="col">Status</th>
        <th scope="col">Remarks</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for attendance in attendances %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <th scope="row">{{ attendance.id }}</th>
        <td>{{ attendance.course_class }}</td>
        <td>{{ attendance.student.get_student_full_name }}</td>
        <td>{{ attendance.attendance_date }}</td>
        <td>{{ attendance.status }}</td>
        <td>{{ attendance.remarks }}</td>
        <td class="py-1">
          <div class="d-flex justify-content-end">
            <a
              href="#"
              class="btn btn-primary me-2"
              >
              <i class="bi bi-pencil-square"></i>
            </a>
          </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="8" class="text-center py-4 text-muted fs-2">
          No attendances available.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock table_content %}
