{% extends "academics/base_admin.html" %}
{% load group_extras %}

{% block content %}
<main id="main" class="main">
  <section class="section profile">
    <h1>Password change successful</h1>
    <p>Your password was changed.</p>
  </section>
</main>
{% endblock content %}


{% comment %} {% extends "base.html" %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h1>Password change successful</h1>
    <p>Your password was changed.</p>
    {% endblock content %}
  </div>
</section> {% endcomment %}