{% extends "base.html" %}
{% load static %}

{% block sidebar %}
{% include 'academics/partials/sidebar_student.html' %}
{% endblock sidebar %}

{% block content %}
<main id="main" class="main">
  <section class="section profile">
    <div class="row">

      <div class="col-xl-10">
        <div class="card">
          <div class="card-header bg-secondary text-white fw-bold bg-opacity-50">Course Enrolment</div>
          <div class="card-body pt-3">
            <div class="row mx-2">
              <div class="col py-2">
                <div class="fw-light text-muted text-muted">Student Name</div>
                <div>lorem</div>
              </div>
              <div class="col py-2">
                <div class="fw-light text-muted">Student Number</div>
                <div>lorem</div>
              </div>
            </div>
            <div class="row mx-2">
              <div class="col py-2">
                <div class="fw-light text-muted">Course Code</div>
                <div>lorem</div>
              </div>
              <div class="col py-2">
                <div class="fw-light text-muted">Course Name</div>
                <div>lorem</div>
              </div>
              <div class="col py-2">
                <div class="fw-light text-muted">Study Intake</div>
                <div>lorem</div>
              </div>
              <div class="col py-2">
                <div class="fw-light text-muted">Credit Hours</div>
                <div>lorem</div>
              </div><div class="col py-2">
                <div class="fw-light text-muted">Academic Level</div>
                <div>lorem</div>
              </div>
              </div><div class="col py-2">
                <div class="fw-light text-muted">Instructor</div>
                <div>lorem</div>
              </div>
            </div><div class="col py-2">
              <div class="fw-light text-muted">Grade released</div>
              <div>lorem</div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
