{% extends "academics/base_admin.html" %}
{% load crispy_forms_tags %}

{% block content %}
<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <!-- page filter card -->
        {% block page_filters %}{% endblock page_filters %}
        <!-- page table card -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              {% block page_title %}Page Title{% endblock page_title %}
            </h5>
            {% if messages %}
            {% include 'partials/messages.html' %}
            {% endif %}
            <!-- table actions -->
            {% block table_actions %}{% endblock table_actions %}
            <!-- main table -->
            {% block table_content %}{% endblock table_content %}
          </div>
          <!-- pagination -->
          {% if is_paginated %}
          {% include 'partials/pagination.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
