<!-- Instructors card -->
<div class="col-xxl-4 col-md-6">
  <div class="card info-card sales-card">
    <div class="card-body">
      <h5 class="card-title">Instructors</h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-people"></i>
        </div>
        <div class="ps-3">
          <h6>{{ total_instructors }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Instructors card -->

<!-- Student Card -->
<div class="col-xxl-4 col-md-6">
  <div class="card info-card revenue-card">
    <div class="card-body">
      <h5 class="card-title">Students</h5>

      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-mortarboard"></i>
        </div>
        <div class="ps-3">
          <h6>{{ total_students }}</h6>
        </div>
      </div>
    </div>

  </div>
</div><!-- End Student Card -->

<!-- Course Card -->
<div class="col-xxl-4 col-xl-12">
  <div class="card info-card customers-card">
    <div class="card-body">
      <h5 class="card-title">Courses</h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-journals"></i>
        </div>
        <div class="ps-3">
          <h6>{{ total_courses }}</h6>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Course Card -->

<!-- Department Card -->
<div class="col-xxl-4 col-xl-12">
  <div class="card info-card customers-card">
    <div class="card-body">
      <h5 class="card-title">Departments</h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-building"></i>
        </div>
        <div class="ps-3">
          <h6>{{ total_deparments }}</h6>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Department Card -->

<!-- Progam Card -->
<div class="col-xxl-4 col-xl-12">
  <div class="card info-card revenue-card">
    <div class="card-body">
      <h5 class="card-title">Progams</h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-journals"></i>
        </div>
        <div class="ps-3">
          <h6>{{ total_programs }}</h6>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Progam Card -->