<!-- Course Card -->
<div class="col-xxl-4 col-xl-12">
  <div class="card info-card customers-card">
    <div class="card-body">
      <h5 class="card-title">Courses</h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-journals"></i>
        </div>
        <div class="ps-3">
          <h6>{{ dashboard_data.total_courses }}</h6>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Course Card -->

<!-- Department Card -->
<div class="col-xxl-4 col-xl-12">
  <div class="card info-card customers-card">
    <div class="card-body">
      <h5 class="card-title">Departments</h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-building"></i>
        </div>
        <div class="ps-3">
          <h6>{{ dashboard_data.total_deparments }}</h6>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Department Card -->

<!-- Progam Card -->
<div class="col-xxl-4 col-xl-12">
  <div class="card info-card revenue-card">
    <div class="card-body">
      <h5 class="card-title">Classes</h5>
      <div class="d-flex align-items-center">
        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
          <i class="bi bi-journals"></i>
        </div>
        <div class="ps-3">
          <h6>{{ dashboard_data.assigned_classes_count }}</h6>
        </div>
      </div>
    </div>
  </div>
</div><!-- End Progam Card -->