<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <span>Homepage</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'student_academic_list' %}">
        <i class="bi bi-files"></i>
        <span>Academic</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" href="users-profile.html">
        <i class="bi bi-person"></i>
        <span>Financial Statement</span>
      </a>
    </li>
  </ul>
</aside>